{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI User Info",
    "description": "An API that provides general account information about a specific user.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://ammo.lol/api/v1/public/"
    }
  ],
 "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/user": {
      "get": {
        "description": "Returns general information about a specific user.",
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "description": "Username of the ammo user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uid",
            "in": "query",
            "description": "UID of the ammo user",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "discord_id",
            "in": "query",
            "description": "Discord ID of the ammo user",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User information response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                },
                "examples": {
                  "user": {
                    "summary": "A User",
                    "value": {
                      "uid": 1,
                      "username": "shock",
                      "alias": "£",
                      "profile_views": 471,
                      "premium": true,
                      "url": "https://ammo.lol/shock",
                      "created": "22/03/2024",
                      "created_formatted": "about 1 month ago",
                      "background_url": "https://r2.ammo.lol/87bac22d-1ecb-4cb1-931f-6720021a5bac.gif",
                      "audio_url": "https://r2.ammo.lol/7efe55eb-6cda-46a5-9d12-2e4a8ef78aec.mp3",
                      "cursor_url": "https://r2.ammo.lol/90644787-3c89-4c8e-a873-b7126136c8ce.cur",
                      "avatar_url": "https://r2.ammo.lol/516a3fa0-565d-4ef0-9f33-adb82997b5dd.gif",
                      "description": "Developer of Ammo.lol"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "integer",
            "format": "int64"
          },
          "username": {
            "type": "string"
          },
          "alias": {
            "type": "string"
          },
          "profile_views": {
            "type": "integer",
            "format": "int32"
          },
          "premium": {
            "type": "boolean"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "created": {
            "type": "string",
            "format": "date"
          },
          "created_formatted": {
            "type": "string"
          },
          "background_url": {
            "type": "string",
            "format": "uri"
          },
          "audio_url": {
            "type": "string",
            "format": "uri"
          },
          "cursor_url": {
            "type": "string",
            "format": "uri"
          },
          "avatar_url": {
            "type": "string",
            "format": "uri"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "error",
          "message"
        ],
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "name": "API-Key",
        "in": "header"
      }
    }
  }
}